doctype html
html
  head
    link(rel= "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="style.css")
    title Weather
  body
  nav
    .row
      .title Drip
    .row
      .col-md-4
      .col-md-4
        .input-group-prepend
          button(class="btn btn-outline-secondary" type="button") Search
          input(type="text" class="form-control" placeholder = "City Name" aria-label="" aria-describedby="basic-addon1")
      .col-md-4
  .row.forcast
    ul
      li
        div(class="card text-white bg-dark mb-3" style="max-width: 12rem")
          .card-header
            h1 #{daysOfWeek.one}
          .card-body
            h1 #{weather.temperature}° F
            h1 #{weather.city}
            p The weather is terrible
      
      li
        div(class="card text-white bg-dark mb-3" style="max-width: 12rem")
          .card-header
            h1 #{daysOfWeek.two}
          .card-body
            h1 #{weather.temperature}° F
            h1 #{weather.city}
            p The weather is terrible

      li    
        div(class="card text-white bg-dark mb-3" style="max-width: 12rem")
          .card-header
            h1 #{daysOfWeek.three}
          .card-body
            h1 #{weather.temperature}° F
            h1 #{weather.city}
            p The weather is terrible

      li
        div(class="card text-white bg-dark mb-3" style="max-width: 12rem")
          .card-header
            h1 #{daysOfWeek.four}
          .card-body
            h1 #{weather.temperature}° F
            h1 #{weather.city}
            p The weather is terrible
      
      li
        div(class="card text-white bg-dark mb-3" style="max-width: 12rem")
          .card-header
            h1 #{daysOfWeek.five}
          .card-body
            h1 #{weather.temperature}° F
            h1 #{weather.city}
            p The weather is terrible
      
      li
        div(class="card text-white bg-dark mb-3" style="max-width: 12rem")
          .card-header
            h1 #{daysOfWeek.six}
          .card-body
            h1 #{weather.temperature}° F
            h1 #{weather.city}
            p #{weather.description}
    

